@import "../../styles/index.scss";

.container {
  @include borders(white, #999);
  background: #c2c2c2;
  padding: 16px;

  .header {
    @include borders(#7b7b7b, white);
    background: #c0c0c0;
    padding: 10px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .face {
      @include borders;
      @include buttons;
      width: 57px;
      height: 52px;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      user-select: none;
    }
  }

  .body {
    @include borders(#7b7b7b, white);
    margin-top: 16px;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(9, 1fr);
  }
}
